@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primaryColor: #450920;
  --primaryColorTransparent: #450920cc;
  --secondaryColor: #ffa5ab;
  --tertiaryColor: #da627d;
  --quaternaryColor: #a53860;
  --whatsappColor: #25d366;
  --headerHeight: 175px;
  --headerHeightMobile: 100px;
  --bodyHeight: 80vh;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --primaryColor: #450920;
    --primaryColorTransparent: #450920cc;
    --secondaryColor: #ffa5ab;
    --tertiaryColor: #da627d;
    --quaternaryColor: #a53860;
  }
}

::-moz-selection {
  color: var(--background);
  background: var(--primaryColor);
}

::selection {
  color: var(--background);
  background: var(--primaryColor);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--primaryColor);
  border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primaryColor);
}

.container_style {
  min-height: var(--bodyHeight);
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 0 15% 0;
  align-items: center;
}
.section_style {
  width: 100%;
  padding: 5% 0 10% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section_style > div {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2em;
}

@media (max-width: 1300px) {
  .section_style {
    max-width: 100%;
    padding: 0 5%;
  }
}
